.socialItems {
  display: flex;
  justify-content: flex-end;
}

.socialItem {
  margin-left: 0.75rem;
}

@media (max-width: 750px) {
  .socialIcon img {
    width: 2rem;
    height: 2rem;
  }
  .socialItem {
    margin-left: 0.5rem;
  }
}
