@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#Container {
  background: url(../public/images/background.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#Main {
  background: #ea4342;
  padding: 3rem;
  margin: 3rem;
  max-width: 32rem;
  text-align: right;
}

h1 {
  font-weight: 700;
  font-size: 7.5rem;
  letter-spacing: -13px;
  line-height: 5.5rem;
}

h2 {
  display: none;
}

ul {
  list-style: none;
}

.skills {
  font-weight: 200;
  font-size: 1.7rem;
  letter-spacing: -2px;
  line-height: 1.5rem;
  display: inline-block;
  padding: 1rem 0;
}

.social__items {
  display: flex;
  justify-content: flex-end;
}

.social__item {
  margin-left: 0.75rem;
}

@media (max-width: 1120px) {
  #Main {
    max-width: 400px;
  }

  h1 {
    font-size: 100px;
    line-height: 74px;
    letter-spacing: -12px;
  }
}

@media (max-width: 750px) {
  #Container {
    align-items: center;
  }
  #Main {
    max-width: 200px;
    margin: 20px;
    padding: 20px;
  }
  h1 {
    font-size: 45px;
    line-height: 33px;
    letter-spacing: -4px;
    text-align: right;
    float: right;
  }
  .skills li {
    font-size: 20px;
  }
  #Main .social li {
    margin-left: 0px;
  }
  #Main .social li a {
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }
}

@media (orientation: landscape) {
  #Container {
    align-items: center;
  }
}
